# This dependency is required for running the dashboard UI on Windows.
windows-curses; sys_platform == "win32"
Flask==3.0.0
flask-socketio==5.3.6
python-socketio==5.10.0
speedtest-cli==2.1.3
iperf3==0.1.11
psutil==5.9.8
requests==2.31.0
